*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*header >i{
    display: none !important;
}
header h1{
    width: 70%;
    order: 2;
}
header nav{
    width: 30%;
    order: 2;
    flex-flow: row wrap;
}*/

header figure {
    width: 30%;
    order:1;
    display: block;
}
header figure img {
    height:90px;
}
header h1 {
    width: 70%;
    order: 2;
}
header nav {
    width: 100%;
    order: 3;
    justify-content: space-around;
}
header nav a{
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-items: center;
}
header nav a i{
    display: block !important;
    order: 2;
}
header nav a span{
    order: 1;
}
main nav{
    width: 20%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
}
main section{
    width: 60%;
    flex-flow: row wrap;
}
main section article{

}
main section h2{
    width: 100%;
    flex-flow: row wrap;
}
main aside{
    width: 20%;

}









